#home {
  padding: 5rem 10rem 4rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  max-width: 100rem;
  width: 100%;
  align-self: center;
}

#home > div {
  position: relative;
  width: 34rem;
}

#home div > button {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-weight: 700;
  border-radius: 8px;
  font-size: 1.4rem;
  appearance: none;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home button > img {
  transition: 0.2s;
  margin: 0.8rem 1.4rem;
  height: 1.5rem;
}

#home button > p {
  margin: 0.8rem 1.4rem;
}

#home button > section {
  color: var(--dark-blue);
  background-color: var(--extra-light-blue);
  border-radius: 8px;
  transition: 0.2s;
  position: absolute;
  width: 100%;
  top: 100%;
}

#home section > option {
  font-weight: 700;
  padding: 1.5rem 1.5rem;
  font-size: 1.4rem;
  text-align: start;
}


#home > div:hover select{
    background-color: var(--dark-mustard);
}

#home div > button:hover {
  background-color: var(--dark-mustard);
  cursor: pointer;
}

#home option:hover {
  color: var(--dark-mustard);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #home > div {
    width: 28rem;
  }

  #home div > button {
    font-size: 1.2rem;
  }

  #home section > option {
    font-size: 1.2rem;
  }

  #home button > img {
    height: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  #home > div {
    width: 24rem;
  }

  #home div > button {
    font-size: 1.1rem;
  }

  #home section > option {
    font-size: 1.1rem;
  }

  #home button > img {
    height: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  #home {
    padding: 4rem 2rem 4rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  #home > div {
    width: 20rem;
  }

  #home button > img {
    height: 1rem;
  }

 
}

@media screen and (max-width: 650px) {
  #home > div {
    width: 100%;
  }

  #home button > img {
    height: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  
  
}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {
  #home div > button {
    font-size: 0.9rem;
  }

  #home section > option {
    font-size: 0.9rem;
  }

  #home button > img {
    height: 1rem;
  }
}