#home {
  padding: 2rem 10rem 4rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  max-width: 100rem;
  width: 100%;
  align-self: center;
}

#home .container {
  position: relative;
  width: 30rem;
}

#home .dropdown {
  text-decoration: none;
}

#home .dropdown__button {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-weight: 700;
  border-radius: 8px;
  font-size: 1.3rem;
  appearance: none;
  cursor: pointer;
  border: none;
  width: 100%;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .dropdown__icon {
  transition: 0.2s;
  margin: 0.8rem 1.4rem;
  height: 1.5rem;
}

#home .dropdown__text {
  margin: 0.8rem 1.4rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#home .dropdown__options {
  color: var(--dark-blue);
  background-color: var(--extra-light-blue);
  border-radius: 8px;
  transition: 0.2s;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
}

#home .option {
  font-weight: 700;
  padding: 1.5rem 1.5rem;
  font-size: 1.3rem;
  text-align: start;
}

#home .dropdown__button:hover {
  background-color: var(--dark-mustard);
  cursor: pointer;
}

#home .container:hover {
  color: var(--dark-mustard);
  cursor: pointer;
}

#home .option:hover {
  color: var(--dark-mustard);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #home .container {
    width: 28rem;
  }

  #home .dropdown__button {
    font-size: 1.2rem;
  }

  #home .option {
    font-size: 1.2rem;
  }

  #home .dropdown__icon {
    height: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  #home .container {
    width: 24rem;
  }

  #home .dropdown__button {
    font-size: 1.1rem;
  }

  #home .option {
    font-size: 1.1rem;
  }

  #home .dropdown__icon {
    height: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  #home {
    padding: 2rem 2rem 4rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  #home .container {
    width: 20rem;
  }

  #home .dropdown__icon {
    height: 1rem;
  }
}

@media screen and (max-width: 650px) {
  #home .container {
    width: 100%;
  }

  #home .dropdown__icon {
    height: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
  #home .dropdown__button {
    font-size: 1.1rem;
  }

  #home .dropdown__text {
    margin: 0.8rem 0rem 0.8rem 1rem;
  }

  #home.dropdown__icon {
    margin: 0.8rem 0.8rem;
  }

  #home .option {
    font-size: 1.1rem;
  }

  #home .dropdown__icon {
    height: 1rem;
  }
}

@media screen and (max-width: 330px) {
  #home .dropdown__button {
    font-size: 1rem;
  }

  #home .option {
    font-size: 1rem;
  }
}
