#card {
  background-color: var(--mustard);
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  text-decoration: none;
  color: var(--black);
  transition: ease-in-out 0.2s;
}

#card > div {
  height: 100px;
  width: 100px;
  background: no-repeat;
  border: solid 4px var(--dark-blue);
  border-radius: 10px;
}

#card > aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}

#card aside > h1 {
  font-weight: 600;
}

#card aside > p {
  font-weight: 500;
}

#card:hover {
  background-color: var(--dark-mustard);
}
