{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "useTabs": false,
    "trailingComma": "none",
    "printWidth": 80,
    "proseWrap": "always",
    "endOfLine": "lf",
    "insertPragma": false
}
