.image_info_card {
  width: 205px;
  height: 371px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--small-radius);
  gap: 1rem;
  text-align: center;
  padding: 1.2rem;
}

.image_info_card--skeleton {
  background-color: var(--white);
}

.image_info_card .image_info_card__img {
  width: 70%;
  max-height: 100%;
}

.image_info_card .image_info_card__title {
  font-weight: var(--semi-bold);
  font-size: var(--span-text);
  color: var(--dark-blue);
}

.image_info_card .image_info_card__description {
  font-weight: var(--medium);
  font-size: var(--small-text);
  color: var(--dark-blue);
}

.image_info_card:hover {
  background-color: var(--mustard);
  cursor: pointer;
}

.image_info_card--skeleton:hover {
  background-color: var(--white);
  cursor: none;
}

@media screen and (max-width: 1200px) {
  .image_info_card {
    width: 184.5px;
    height: 334px;
    padding: 1.1rem;
  }

  .image_info_card .image_info_card__img {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .image_info_card {
    width: 164px;
    height: 297px;
    padding: 1rem;
  }

  .image_info_card .image_info_card__img {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .image_info_card {
    width: 143px;
    height: 259px;
    padding: 0.9rem;
  }

  .image_info_card .image_info_card__img {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .image_info_card {
    width: 123px;
    height: 222px;
    padding: 0.8rem;
    gap: 0.7rem;
  }

  .image_info_card .image_info_card__img {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .image_info_card {
    width: 102px;
    height: 185px;
    padding: 0.7rem;
  }

  .image_info_card .image_info_card__img {
    width: 70%;
  }
}
