#footer {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 1rem;
  color: var(--white);
}

#footer .footer__content {
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

#footer .footer__div--mobile {
  display: none;
}

#footer .container {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-weight: 700;
  gap: 1rem;
}

#footer .container__text {
  font-size: 1rem;
}

#footer .container__nav {
  display: flex;
  gap: 0.6rem;
  display: flex;
  align-items: center;
}

#footer .container__nav--spaced {
  gap: 1.2rem;
}

#footer .nav__text {
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
}

#footer .square {
  position: relative;
}

#footer .square__img {
  max-width: 100%;
  height: 50px;
}

#footer .baloon {
  position: absolute;
  background-color: var(--medium-light-blue);
  padding: 0.8rem;
  border-radius: 1rem;
  width: 440px;
  height: 440px;
  bottom: 150%;
}

#footer .baloon__content {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

#footer .baloon__content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: var(--medium-light-blue);
  border-top: 0;
  bottom: -25px;
  left: 50%;
  margin-left: -50%;
  transform: rotate(180deg);
}

#footer .baloon__header {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

#footer .baloon__textarea {
  border-radius: 1rem;
  appearance: none;
  border: none;
  background-color: var(--extra-light-blue);
  width: 100%;
  padding: 2rem 2.3rem;
  display: flex;
  font-size: 2.3rem;
  color: var(--medium-light-blue);
  resize: none;
  outline: none;
  height: 100%;
}

#footer .baloon__textarea::placeholder {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--medium-light-blue);
}

#footer .baloon__textarea::-webkit-scrollbar {
  display: none;
}

#footer .logo__img {
  max-width: 100%;
  height: 50px;
}

#footer .square:hover .img--hover {
  filter: var(--dark-mustard-filter);
}

@media screen and (max-width: 1200px) {
  #footer .baloon {
    padding: 0.8rem;
    width: 400px;
    height: 410px;
    gap: 0.8rem;
  }

  #footer .baloon__header {
    padding: 1rem;
    gap: 2rem;
    font-size: 1.4rem;
  }

  #footer .baloon__textarea {
    padding: 2rem 2.3rem;
    font-size: 2.1rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1024px) {
  #footer .footer__div--mobile {
    font-size: 1rem;
  }

  #footer .nav__text {
    display: none;
  }

  #footer .baloon__header {
    border-radius: 0.8rem;
    padding: 1rem;
    gap: 2rem;
    font-size: 1.2rem;
  }

  #footer .baloon__textarea {
    border-radius: 0.8rem;
    padding: 2rem 2.3rem;
    font-size: 2rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 2.1rem;
  }

  #footer .logo__img {
    height: 3rem;
  }
}

@media screen and (max-width: 850px) {
  #footer .square__img {
    height: 45px;
  }

  #footer .baloon {
    bottom: 150%;
    left: -3px;
  }

  #footer .baloon__content:after {
    bottom: -25px;
    left: 50%;
    margin-left: -50%;
  }

  #footer .logo__img {
    height: 45px;
  }
}

@media screen and (max-width: 800px) {
  #footer .container__text {
    font-size: 1rem;
  }

  #footer .baloon {
    padding: 0.8rem;
    width: 350px;
    height: 360px;
    gap: 0.8rem;
  }

  #footer .baloon__header {
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 2rem;
    font-size: 1rem;
  }

  #footer .baloon__textarea {
    padding: 1.5rem 1.8rem;
    font-size: 1.8rem;
    border-radius: 0.7rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 753px) {
  #footer>.footer__content {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  #footer .footer__div--mobile {
    display: block;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .container--desktop {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #footer .container__text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  #footer {
    padding: 1.5rem;
  }

  #footer .square__img {
    height: 41px;
  }

  #footer .baloon {
    bottom: 150%;
    left: -5px;
  }

  #footer .logo__img {
    height: 41px;
  }
}

@media screen and (max-width: 500px) {
  #footer .footer__content {
    gap: 0.8rem;
  }

  #footer .footer__div--mobile {
    gap: 0.8rem;
  }

  #footer .container {
    gap: 0.5rem;
  }

  #footer .container__nav {
    gap: 0.4rem;
  }

  #footer .container__nav--spaced {
    gap: 1.2rem;
  }

  #footer .container__text {
    font-size: 0.6rem;
  }

  #footer .square__img {
    height: 30px;
  }

  #footer .baloon__header {
    border-radius: 0.6rem;
  }

  #footer .baloon {
    bottom: 160%;
    left: -12px;
    padding: 0.8rem;
    width: 280px;
    height: 300px;
    gap: 0.8rem;
  }

  #footer .baloon__header {
    padding: 1rem;
    gap: 2rem;
    font-size: 0.9rem;
  }

  #footer .baloon__textarea {
    padding: 1.5rem 1.2rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 1.7rem;
  }

  #footer .logo__img {
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  #footer {
    padding: 1.2rem;
  }

  #footer .square__img {
    height: 30px;
  }

  #footer .footer__div--mobile {
    gap: 0.6rem;
  }

  #footer .baloon {
    padding: 0.8rem;
    width: 250px;
    height: 260px;
    gap: 0.8rem;
  }

  #footer .baloon__header {
    padding: 1rem;
    gap: 2rem;
  }

  #footer .baloon__textarea {
    padding: 1.2rem 1rem;
    font-size: 1.4rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 1.3rem;
  }

  #footer .logo__img {
    height: 30px;
  }
}

@media screen and (max-width: 350px) {
  #footer .footer__content {
    gap: 0.5rem;
  }

  #footer .baloon__textarea {
    border-radius: 0.5rem;
  }

  #footer .baloon {
    padding: 0.8rem;
    width: 200px;
    height: 220px;
    gap: 0.8rem;
  }

  #footer .baloon__header {
    padding: 1rem;
    gap: 2rem;
    font-size: 0.7rem;
    border-radius: 0.5rem;

  }

  #footer .baloon__textarea {
    padding: 1.2rem 0.7rem;
    font-size: 1.2rem;
  }

  #footer .baloon__textarea::placeholder {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 330px) {
  #footer .container__text {
    font-size: 0.4rem;
  }

  #footer .square__img {
    height: 24px;
  }

  #footer .baloon {
    left: -62%;
    bottom: 170%;
  }

  #footer .logo__img {
    height: 24px;
  }
}

@media screen and (max-width: 276px) {
  #footer .baloon {
    left: -383%;
  }

  #footer .baloon__content:after {
    margin-left: -10px;
  }
}