.project_data {
  padding: 3rem 2.5rem 4rem 2.5rem;
}

.project_data .header__title--upper {
  text-transform: uppercase;
}

.project_data .card--margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project_data .card__main {
  background-color: var(--white);
  border-radius: var(--small-radius);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.project_data .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: var(--thick-border);
  border-radius: var(--input-radius);
  padding: 0.2rem 1rem;
  transition: ease-in-out 0.2s;
}

.project_data .input--bigger {
  min-height: 200px;
}

.project_data .input--column {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.project_data .input__title {
  color: var(--dark-blue);
  margin-right: 0.5rem;
  font-size: var(--big-title);
}

.project_data .input__field {
  width: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: var(--regular-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
  resize: none;
  background-color: transparent;
  appearance: none;
}

.project_data .input__field::-webkit-scrollbar {
  display: none;
}

.project_data .input__btn--end {
  align-self: flex-end;
}

.project_data .card__span {
  font-weight: var(--medium);
  color: var(--dark-blue);
  font-size: var(--regular-text);
}

.project_data .input__btn:hover {
  background-color: var(--dark-mustard);
  color: var(--dark-blue);
}

.project_data .input:hover {
  border-color: var(--dark-mustard);
}

@media screen and (max-width: 800px) {
  .project_data .card--margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .project_data {
    padding: 1rem 1rem 4rem 1rem;
  }

  .project_data .card__main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 2rem;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .project_data .card__main {
    padding: 0.5rem 1rem 2rem 1rem;
  }
}
