.project {
  padding: 3rem 2.5rem 4rem 2.5rem;
}

.project .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .project--skeleton {
  pointer-events: none;
}

.project .card--width {
  width: 50%;
  background-color: var(--light-blue);
  border-radius: var(--medium-radius);
}

.project .card--margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project .card--grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project .header__title--upper {
  text-transform: uppercase;
}

.project .card__main {
  background-color: var(--white);
  border-radius: var(--medium-radius);
  display: grid;
  padding: 1rem 2rem;
  gap: 1rem;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
}

.project .subject {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.project .supervisor {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.project .cosupervisor {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.project .cosupervisor--skeleton {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project .students {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.project .students__name {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project .main__input {
  width: 100%;
  border: var(--thin-border);
  border-radius: var(--input-radius);
  font-size: var(--regular-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
}

.project .main__input--skeleton {
  width: 100%;
  border: none;
  color: var(--dark-blue);
  font-weight: var(--medium);
}

.project .main__title {
  font-size: var(--regular-text);
  color: var(--dark-blue);
  font-weight: var(--semi-bold);
}

.project .main__title--cosupervisor {
  margin-bottom: 3px;
}

.project .main__text {
  font-size: var(--regular-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
}

.project .main__text--skeleton {
  font-size: var(--regular-text);
  font-weight: var(--medium);
  width: 100%;
  background-color: var(--blue);
}

.project .main__btn--skeleton {
  align-self: flex-start;
  padding: 0.2rem 0.5rem;
  border-radius: var(--input-radius);
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: var(--span-text);
  font-weight: var(--semi-bold);
  border: none;
}

.project .main__btn--margin {
  margin-top: 0.5rem;
}

.project .main__btn--width {
  min-width: 120px;
}

.project .main__title--students {
  margin: 0;
}

.project .main__text--students {
  word-wrap: break-word;
  width: 48%;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.project .card__footer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0.6rem;
}

.project .code {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.project .infos {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project .infos__number {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.project .infos__period {
  display: flex;
  flex-direction: column;
}

.project .potencial {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 1 /2;
  align-items: start;
  margin-left: 2rem;
}

.project .options {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.project .option {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  font-size: var(--regular-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
  cursor: pointer;
}

.project .option__checkbox {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--light-blue);
  border: var(--thin-border);
  border-radius: var(--input-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .option__checkbox--skeleton {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: var(--input-radius);
}

.project .option__icon {
  pointer-events: none;
  width: 1rem;
}

.project .deliveries {
  display: flex;
  width: 100%;
  gap: 0.8rem;
}

.project .deliveries--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 0.3rem;
}

.project .grid__element {
  background-color: var(--white);
  border-radius: var(--small-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5rem;
  padding: 0.2rem;
}

.project .grid__element--skeleton {
  display: flex;
  align-items: normal;
}

.project .grid__title {
  font-size: var(--span-text);
  color: var(--dark-blue);
  font-weight: var(--semi-bold);
  text-decoration: none;
}

.project .grid__title--skeleton {
  width: 80%;
}

.project .grid__text {
  font-size: var(--small-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
}

.project .grid__text--skeleton {
  width: 80%;
}

.project .grid__link {
  font-size: var(--small-text);
  color: var(--dark-blue);
  font-weight: var(--medium);
}

.project .card__column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.project .column__element {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--regular-text);
  color: var(--dark-blue);
  flex-grow: 1;
  border-radius: var(--small-radius);
  text-align: center;
}

.project .column__element--center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .column__element--skeleton {
  align-items: normal;
  display: block;
}

.project .column__title {
  font-weight: var(--medium);
  font-size: var(--regular-text);
}

.project .column_title--skeleton {
  width: 80%;
}

.project .grid__title--link:hover {
  text-decoration: underline;
  color: var(--dark-mustard);
}

@media screen and (max-width: 1200px) {
  .project .option__icon {
    pointer-events: none;
    width: 0.9rem;
  }

  .project .option__checkbox {
    width: 1.7rem;
    height: 1.7rem;
  }

  .project .option__checkbox--skeleton {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .project .option {
    gap: 0.4rem;
  }

  .project .option__icon {
    pointer-events: none;
    width: 0.8rem;
  }

  .project .option__checkbox {
    width: 1.6rem;
    height: 1.6rem;
  }

  .project .option__checkbox--skeleton {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .project .card--margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .project .option {
    gap: 0.3rem;
  }

  .project .option__checkbox {
    width: 1.4rem;
    height: 1.4rem;
  }

  .project .option__checkbox--skeleton {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .project {
    padding: 1rem 1rem 4rem 1rem;
  }

  .project .card__main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 2rem;
    align-items: center;
  }

  .project .card--width {
    width: 100%;
  }

  .project .subject {
    align-items: center;
  }

  .project .subject--skeleton {
    align-items: normal;
    width: 50%;
  }

  .project .supervisor {
    align-items: center;
  }

  .project .supervisor--skeleton {
    align-items: normal;
    width: 50%;
  }

  .project .cosupervisor {
    max-width: 50%;
    align-items: center;
  }

  .project .students {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-left: 0rem;
    align-items: center;
    width: 100%;
  }

  .project .students--skeleton {
    align-items: normal;
    width: 100%;
  }

  .project .students__name {
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: start;
    width: 100%;
  }

  .project .main__title--skeleton {
    align-self: center;
  }

  .project .main__text--skeleton {
    width: 50%;
  }

  .project .main__text--students {
    word-wrap: break-word;
    width: 48%;
  }

  .project .main__input--center {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project .students--center {
    flex-direction: column;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project .main__input--skeleton {
    width: 50%;
  }

  .project .main__btn--margin {
    margin-top: 0.3rem;
  }

  .project .main__btn--skeleton {
    align-self: center;
  }

  .project .option__checkbox {
    width: 1.3rem;
    height: 1.3rem;
  }

  .project .option__checkbox--skeleton {
    width: 1.3rem;
    height: 1.3rem;
  }

  .project .option__icon {
    pointer-events: none;
    width: 0.7rem;
  }

  .project .card__footer {
    padding: 0rem 2rem 1rem 2rem;
  }

  .project .deliveries {
    display: flex;
    flex-wrap: wrap;
  }

  .project .deliveries--right {
    width: 100%;
  }

  .project .column__element {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .project .card__main {
    grid-template-columns: 0.6fr 0.6fr 0.4fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    gap: 0.6rem;
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .project .subject {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .project .supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .project .cosupervisor {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }

  .project .card__footer {
    gap: 0.6rem;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .project .option__checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }

  .project .option__checkbox--skeleton {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .project .card__main {
    padding: 0.5rem 0.2rem 2rem 0.2rem;
  }

  .project .students {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .project .card__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .project .infos {
    gap: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  .project .code {
    margin-right: 2rem;
    align-items: center;
  }

  .project .code--skeleton {
    margin-right: 2rem;
    align-items: normal;
  }

  .project .students--skeleton {
    align-items: normal;
    width: 80%;
  }

  .project .students__name {
    max-width: 100%;
  }

  .project .card__footer {
    gap: 0.4rem;
  }

  .project .infos {
    gap: 0.4rem;
  }

  .project .infos__number {
    margin-left: 2rem;
    align-items: center;
  }

  .project .infos__number--skeleton {
    margin-left: 2rem;
    align-items: normal;
  }

  .project .infos__period {
    align-items: center;
  }

  .project .infos__period--skeleton {
    align-items: normal;
  }

  .project .potencial {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .project .option__icon {
    pointer-events: none;
    width: 0.6rem;
  }
}
