.default_error {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.default_error .default_error__title {
  font-weight: var(--semi-bold);
  color: var(--dark-blue);
  font-size: var(--screen-title);
}

.default_error .default_error__message {
  font-weight: var(--medium);
  color: var(--dark-blue);
  margin-bottom: 2rem;
  font-size: var(--big-title);
}

.default_error .default_error__btn {
  padding: 0.2rem 0.5rem;
  border-radius: var(--input-radius);
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: var(--span-text);
  font-weight: var(--semi-bold);
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  align-items: center;
  justify-content: center;
}

.default_error .default_error__btn:hover {
  background-color: var(--dark-mustard);
  color: var(--dark-blue);
}
